<div class="center hero-unit">
	<h1>Welcome to the Users App</h1>

	<h2>
		This is part 3 of the final part of my 
		<a href="http://www.codefellows.org/">CodeFellows</a> 
		application.
	</h2>

	<p>
		Generate a Rails app that allows a user to create, edit, update, and destroy (delete) users. Users should have first name, last name, and email address fields. Deploy this app to Heroku (a free *.herokuapp.com URL) so we can test it out live. If you have time, add extra features to this app (be creative) and tell us what you did so we don’t miss it.
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
