<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "users app", '#', id: "logo" %>
        </div>
    </div>
</header>
